@charset "UTF-8";
@font-face {
  font-family: "Satoshi";
  src: url("../assets/fonts/Satoshi-Regular.woff") format(woff), url("../assets/fonts/Satoshi-Regular.woff2") format(woff2);
}
@keyframes levitate {
  0% {
    transform: translateY(0); /* Position initiale */
  }
  50% {
    transform: translateY(-10px); /* Position de lévitation */
  }
  100% {
    transform: translateY(0); /* Retour à la position initiale */
  }
}
@keyframes changeColor {
  0% {
    background-color: #053F5E;
  }
  50% {
    transform: #27496D;
  }
  100% {
    background-color: #01254C; /* Retour à la position initiale */
  }
}
* {
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}
*::selection {
  color: white;
  background-color: #d27c2c;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
  background-color: #EFEBEB;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.1rem;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.active {
  color: black;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background-color: rgba(39, 73, 109, 0.9);
}
.header .particule {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__arrow {
  display: none;
  width: 7vh;
  height: 7vh;
  justify-content: center;
  background-color: #053F5E;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 2vh;
  cursor: pointer;
  position: absolute;
  bottom: 1vh;
  left: 48%;
  transform: translateX(50%);
  background-color: #27496D;
  animation: levitate 2s infinite ease-in-out;
}
.header__navbar {
  display: flex;
  margin: 0 2rem;
}
.header__menu {
  opacity: 0;
  background-color: rgb(39, 73, 109);
  position: absolute;
  left: -50%;
  height: 80vh;
  padding: 4.5vh 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
  z-index: -1;
  transition: left 0.3s ease-out, opacity 0.2s ease-out;
}
.header__menu.visible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(39, 73, 109, 0.1);
  opacity: 1;
  transition: opacity 0.3s ease-out, left 0.2s ease-out, background-color 0.3s ease-in;
}
.header__menu.scrolled {
  background-color: rgb(39, 73, 109);
  box-shadow: rgba(0, 0, 0, 0.4) 1.95px 1.95px 2.6px;
  transition: background-color 0.3s ease-in;
}
.header__menu-list {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.header__menu-list a {
  color: white;
  font-size: clamp(18px, 1.2vw, 20px);
  font-family: "Poppins";
}
.header__menu-list .active {
  color: #d27c2c;
}
.header__menu-list li {
  position: relative;
}
.header__menu-list li::after {
  content: "";
  display: block;
  background-color: #d27c2c;
  height: 2px;
  width: 0;
  border-radius: 10px;
  margin-top: 3px;
  transition: width 0.3s ease-out;
  transform: translateX(-50%);
  position: relative;
  left: 50%;
}
.header__menu-list li:hover {
  cursor: pointer;
}
.header__menu-list li:hover::after {
  width: 100%;
  transition: width 0.3 ease-out;
}
.header__logo {
  width: clamp(20px, 20vw, 100px);
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}
.header__menuBurger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: center;
  z-index: 3000;
  padding: 1rem 0rem;
  border-radius: 50%;
  transition: all 0.2s ease-out;
  width: 3.5rem;
}
.header__menuBurger:hover {
  border: 4px #d27c2c;
  transition: transform 0.2s ease-out, border 0.3 ease-out;
}
.header__menuBurger .bar {
  width: 100%;
  background: #EFEBEB;
  height: 3.2px;
  transition: all 0.3s ease-in;
}
.header__menuBurger.open {
  border: none;
  transform: rotate(180deg);
}
.header__menuBurger.open #bar1 {
  background-color: white;
  transform: rotate(45deg) translate(6px, 5px);
}
.header__menuBurger.open #bar3 {
  background-color: white;
  transform: rotate(-45deg) translate(6px, -5px);
}
.header__menuBurger.open #bar2 {
  background-color: transparent;
}
.header__nomAgence, .header__slogan {
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Stick No Bills", sans-serif;
  text-align: center;
  bottom: 43%;
  color: white;
  width: 100%;
}
.header__slogan {
  font-size: clamp(16px, 1.5vw, 25px);
}
.header__nomAgence {
  font-family: "David Libre";
  text-transform: uppercase;
  font-size: clamp(55px, 6vw, 80px);
  color: white;
  bottom: 55%;
}

#tsparticles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.presentation {
  padding: 0 3rem;
  margin-top: 4rem;
  color: #27496D;
  font-size: clamp(16px, 1.1vw, 20px);
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
.presentation .about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20rem;
  justify-content: center;
  line-height: 1.4;
  align-items: center;
  text-align: center;
  background-image: none;
  background-repeat: no-repeat;
  background-position: left top -17vh;
  background-size: cover;
}
.presentation .about span {
  color: #d27c2c;
  width: 100%;
}
.presentation .about__title {
  font-size: clamp(30px, 1.8vw, 33px);
  font-family: "David Libre";
  font-weight: 600;
  text-transform: uppercase;
}
.presentation .about .stats {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  padding: 0 2rem;
}
.presentation .about .stats__div {
  border-radius: 10px;
  border: #053F5E solid 0.1px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.presentation .about .stats__number {
  font-size: clamp(30px, 1.8vw, 33px);
  font-weight: 800;
  color: #d27c2c;
}
.presentation .values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.presentation .values__title {
  font-family: "David Libre" sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: clamp(30px, 1.8vw, 33px);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5vh;
  font-family: "David Libre";
}
.presentation .values__title::after {
  content: "";
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 1px;
  margin-top: 4%;
  background-color: #0e0c0c;
}
.presentation .values__title::after {
  display: none;
}
.presentation .values__list {
  margin: 0 auto;
}
.presentation .values__img {
  width: 400px;
  margin: 5rem auto 0 auto;
}
.presentation .values__item {
  margin-top: 1rem;
  color: #053F5E;
  background: #F2F8FC;
  padding: 1.5rem 0;
  border-radius: 10px;
  overflow: hidden;
}
.presentation .values__item .title {
  font-family: "David Libre" sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: clamp(13px, 1.1vw, 30px);
  font-family: "Satoshi", sans-serif;
  font-weight: bold;
}
.presentation .values__item .details {
  font-family: "Satoshi", sans-serif;
  padding: 1rem;
  font-family: "Poppins" sans-serif;
  font-size: clamp(13px, 1.1vw, 20px);
}
.presentation .values__presentation {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.equipe {
  margin: 10vh 5rem;
}
.equipe__title {
  font-family: "David Libre" sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: clamp(30px, 1.8vw, 33px);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5vh;
}
.equipe__title::after {
  content: "";
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 1px;
  margin-top: 4%;
  background-color: #0e0c0c;
}
.equipe__membres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  gap: 5rem;
  position: relative;
  width: 100%;
}
.equipe__img {
  object-fit: cover;
  min-width: 100%;
  min-height: 40vh;
  background: linear-gradient(to bottom, #01254C, #F2F8FC);
  border-radius: 2px;
  box-shadow: 0px 0px 10px #F2F8FC;
  /* Ajoute une ombre pour l'effet de relief */
  padding: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.equipe__fig {
  border-radius: 10px;
  color: #141414;
  overflow: hidden;
}
.equipe__fig .membre {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.equipe__fig .membre__nom {
  font-family: "Poppins", sans-serif;
  font-size: clamp(15px, 1.2vw, 25px);
  font-weight: 500;
}
.equipe__fig .membre__filiere {
  font-family: "Satoshi", sans-serif;
  font-size: clamp(15px, 1vw, 20px);
}
.equipe__fig .membre__linkedin {
  width: 28px;
  height: 30px;
}

.services {
  position: relative;
  margin-bottom: 5vh;
  padding: 3.5rem 0rem;
  background-color: white;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.services__title {
  font-family: "David Libre" sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: clamp(30px, 1.8vw, 33px);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5vh;
}
.services__title::after {
  content: "";
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 1px;
  margin-top: 4%;
  background-color: #0e0c0c;
}
.services__service {
  background-color: white;
  padding: 0 4rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  justify-content: space-between;
  align-items: center;
}
.services__service figcaption {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services__serviceTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.services__serviceTitle h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(19px, 1.3vw, 20px);
  width: 100%;
  text-align: center;
}
.services__content {
  font-size: clamp(15px, 1.2vw, 20px);
  line-height: 1.4;
}
.services__image {
  display: none;
}

.realisations {
  padding: 0 3rem;
  margin: 10vh 0;
  display: flex;
  flex-direction: column;
}
.realisations__title {
  font-family: "David Libre" sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: clamp(30px, 1.8vw, 33px);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5vh;
}
.realisations__title::after {
  content: "";
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 1px;
  margin-top: 4%;
  background-color: #0e0c0c;
}
.realisations__projet {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.realisations__img {
  width: 100%;
  height: inherit;
  border-radius: 20px;
}
.realisations__name {
  font-size: clamp(17px, 2.2vh, 20px);
  color: #01254C;
  font-weight: 600;
  margin-bottom: 2rem;
}
.realisations__content {
  font-size: clamp(13px, 1.1vw, 20px);
  line-height: 1.4;
  font-family: "Poppins";
}

.equipe__fig {
  /* Autres styles... */
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0), 0 1px 3px rgba(0, 0, 0, 0);
}
.equipe__fig:hover {
  transform: scale(1.05);
  /* Agrandir légèrement la carte au survol */
}
.equipe__fig:hover .membre {
  top: -5vh;
  border-radius: 10px;
  /* Déplacer les informations vers le haut au survol */
  /* Bordure incurvée pour le coin supérieur droit */
}
.equipe__fig:hover .membre__infos {
  transform: translateY(0);
  /* Faire apparaître les informations au survol */
}
.equipe__fig:hover figcaption.membre {
  transform: translateY(0);
  /* Faire apparaître la figcaption au survol */
}
.equipe__fig .membre {
  position: relative;
  top: 10vh;
  background-color: #F2F8FC;
}
.equipe__fig .membre__infos,
.equipe__fig figcaption.membre {
  transform: translateY(100%);
  /* Cacher les informations initialement */
  transition: transform 0.5s ease-in-out;
  /* Ajouter une transition pour faire apparaître les informations en douceur */
}

.projet1 {
  display: flex;
  flex-direction: column;
}
.projet1__logo {
  width: 10%;
  margin-bottom: -8rem;
}
.projet1 .rectangle {
  margin-top: 15rem;
  width: 100%;
  height: 150px;
  background: #01254C;
  z-index: -1;
}
.projet1 .figure {
  display: flex;
}
.projet1 .figure__img {
  width: 30%;
  position: absolute;
  margin-top: -23rem;
  margin-left: 5rem;
}
.projet1 .figure__figcaption {
  display: flex;
  flex-direction: row;
}
.projet1 .figure__figcaption__content {
  position: absolute;
  color: #EFEBEB;
  font-size: large;
  padding-top: 20%;
  margin-top: -40rem;
  margin-left: 35em;
}

.projet2 {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
}
.projet2__logo {
  margin-bottom: -15rem;
  width: 10%;
  margin-left: 67%;
}
.projet2 .rectangle {
  margin-top: 25rem;
  width: 100%;
  height: 150px;
  background: #01254C;
  z-index: -1;
}
.projet2 .figure {
  margin-bottom: 20rem;
  display: flex;
  flex-direction: row-reverse;
}
.projet2 .figure__img {
  margin-top: -25rem;
  width: 30%;
  position: absolute;
}
.projet2 .figure__figcaption {
  display: flex;
  flex-direction: row;
}
.projet2 .figure__figcaption__content {
  margin-left: -68em;
  margin-top: -40rem;
  position: absolute;
  color: #EFEBEB;
  font-size: large;
  padding-top: 20%;
}

@media screen and (width < 667px) {
  .card__description {
    display: flex;
    align-items: center;
    gap: 5vw;
  }
  .card__image {
    max-width: 20vw;
  }
  .contactFooter .imageContact {
    display: none;
  }
}
@media screen and (width > 667px) {
  .card__description {
    display: flex;
    align-items: center;
    gap: 7vw;
  }
  .card__image {
    max-width: 10vw;
    border-radius: 50%;
  }
  .contactFooter .imageContact {
    display: none;
  }
  .contactFooter__speech > span {
    text-align: center;
  }
}
@media screen and (width > 1200px) {
  .avis .card {
    min-height: 60vh;
  }
  .avis .card__description {
    display: flex;
    align-items: center;
    gap: 2vw;
    position: absolute;
    bottom: 10vh;
    left: 2vw;
  }
  .avis .card__image {
    max-width: 5vw;
    border-radius: 50%;
  }
  .contactFooter .imageContact {
    display: block;
  }
  .contactFooter__speech {
    margin-bottom: 5vh;
    text-align: right;
  }
  .contactFooter__form {
    margin-top: 5vh;
    width: 50%;
  }
  .contactFooter__input {
    min-height: 7vh;
  }
  .contactFooter__contact {
    display: flex;
    justify-content: space-between;
  }
  .contactFooter .imageContact {
    width: 45vw;
    height: 58vh;
    position: relative;
    top: 7.5vh;
  }
}
/* debut de nos avis */
.avis {
  padding-left: 4vw;
  padding-right: 4vw;
}
.avis__title {
  font-family: "David Libre" sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-size: clamp(30px, 1.8vw, 33px);
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5vh;
}
.avis__title::after {
  content: "";
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 1px;
  margin-top: 4%;
  background-color: #0e0c0c;
}
.avis .card {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  color: #27496D;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border: 1px solid #27496D;
  padding: 4vh 2vw;
  gap: 5vh;
  border-radius: 10px;
  margin-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}
.avis .card__image {
  border-radius: 70%;
}
.avis .card__nom {
  font-family: "Poppins";
  font-size: clamp(15px, 1.2vw, 20px);
  font-weight: 800;
  margin-bottom: 2vh;
}
.avis .card__job {
  font-family: "Poppins", sans-serif;
  font-size: clamp(14px, 1.2vw, 20px);
}
.avis .card__avis {
  line-height: 1.2;
  font-size: clamp(14px, 1.2vw, 20px);
  min-height: 10vh;
}
.avis .card__description {
  display: flex;
  align-items: center;
}
.avis .card__notes {
  margin-bottom: 2vh;
  padding-bottom: 5vh;
  border-bottom: 0.5px #27496D solid;
}

.leSvg {
  display: flex;
  position: relative;
  top: -20vh;
  width: 100vw;
  height: 20vh;
}

.leSvg__haut {
  display: flex;
  position: relative;
  top: -50vh;
  width: 100vw;
  height: 0;
}

.contact {
  justify-content: center;
  align-items: center;
  display: block;
  padding: 7rem;
}
.contact__title {
  width: fit-content;
  padding: 3vh 4vw;
  color: #000000;
  border-radius: 10px;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  font-family: "David Libre", sans-serif;
}
.contact__title::after {
  content: "";
  display: block;
  width: 70%;
  height: 3px;
  background-color: #01254C;
  margin-top: 1.5rem;
  border-radius: 5px;
  margin-left: 15%;
}
.contact__alert {
  padding: 3vh 1vw;
  font-size: clamp(18px, 1.5vw, 20px);
  border-radius: 5px;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.contact__alert.invalid {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  display: block;
  background-color: rgb(178, 18, 18);
}
.contact__alert.valid {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  display: block;
  background-color: rgb(94, 157, 94);
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  flex-basis: 40%;
  font-family: "Satoshi", sans-serif;
}
.contact__label {
  color: #01254C;
  font-size: clamp(14px, 1.1vw, 20px);
  font-weight: 500;
}
.contact__input, .contact__textarea {
  border: none;
  font-family: "Satoshi", sans-serif;
  padding-left: 3px;
  margin-top: 1%;
  font-size: clamp(14px, 1.1vw, 20px);
  width: 100%;
  background: transparent;
}
.contact__input:focus, .contact__textarea:focus {
  outline: none;
  border-color: #d27c2c;
  transition: 0.2s border-color ease-in-out;
}
.contact__input {
  height: 5vh;
  border: 0;
  border-bottom: 2px #01254C solid;
}
.contact__textarea {
  border: 2px solid #01254C;
}
.contact__submit {
  position: relative;
  border-radius: 10px;
  background-color: #053F5E;
  border-style: none;
  box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 1rem 4rem;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
}
.contact__submit:active {
  box-shadow: none;
  transform: scale(0.95);
  transition: transform 0.3S ease-in-out;
}
.contact__submit::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d27c2c;
  height: 6vh;
  width: 0rem;
}
.contact__submit:hover::after {
  opacity: 1;
  width: 25rem;
  transition: 0.1s all ease-in-out;
}

.contactFooter {
  justify-content: center;
  align-items: center;
  display: block;
  padding: 7rem;
}
.contactFooter__title {
  width: fit-content;
  padding: 3vh 4vw;
  color: #000000;
  border-radius: 10px;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  font-family: "David Libre", sans-serif;
}
.contactFooter__title::after {
  content: "";
  display: block;
  width: 70%;
  height: 3px;
  background-color: #01254C;
  margin-top: 1.5rem;
  border-radius: 5px;
  margin-left: 15%;
}
.contactFooter__alert {
  padding: 3vh 1vw;
  font-size: clamp(18px, 1.5vw, 20px);
  border-radius: 5px;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.contactFooter__alert.invalid {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  display: block;
  background-color: rgb(178, 18, 18);
}
.contactFooter__alert.valid {
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
  display: block;
  background-color: rgb(94, 157, 94);
}
.contactFooter__speech {
  display: none;
  font-size: clamp(25px, 2vw, 60px);
  color: #01254C;
  text-align: center;
  margin-bottom: 5vh;
}
.contactFooter__speech--orange {
  color: #d27c2c;
}
.contactFooter__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  flex-basis: 40%;
  font-family: "Satoshi", sans-serif;
}
.contactFooter__label {
  color: #01254C;
  font-size: clamp(14px, 1.1vw, 20px);
  font-weight: 500;
  margin-bottom: 10px;
}
.contactFooter__input, .contactFooter__textarea {
  border: none;
  font-family: "Satoshi", sans-serif;
  padding-left: 3px;
  margin-top: 1%;
  font-size: clamp(14px, 1.1vw, 20px);
  width: 100%;
  background: transparent;
  margin-top: 1.5vh;
  background-color: #F2F8FC;
}
.contactFooter__input:focus, .contactFooter__textarea:focus {
  outline: none;
  border-color: #d27c2c;
  transition: 0.2s border-color ease-in-out;
}
.contactFooter__input {
  height: 5vh;
  border: 0;
  border-bottom: 2px #01254C solid;
}
.contactFooter__textarea {
  border: 2px solid #01254C;
}
.contactFooter__submit {
  position: relative;
  border-radius: 10px;
  background-color: #053F5E;
  border-style: none;
  box-shadow: 7px 5px 7px rgba(0, 0, 0, 0.3);
  color: white;
  padding: 1rem 4rem;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}
.contactFooter__submit:active {
  box-shadow: none;
  transform: scale(0.95);
  transition: transform 0.3S ease-in-out;
}
.contactFooter__submit::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d27c2c;
  height: 6vh;
  width: 0rem;
  z-index: -1;
}
.contactFooter__submit:hover::after {
  opacity: 1;
  width: 25rem;
  transition: 0.2s all ease-in-out;
}

.footer {
  padding: 2rem 0;
  background-color: #01254C;
  color: #EFEBEB;
  font-size: clamp(14px, 1.3vw, 20px);
  font-family: "Satoshi", sans-serif;
}
.footer p {
  display: flex;
  align-items: center;
  font-family: "Satoshi", sans-serif;
}
.footer p a {
  color: #EFEBEB;
}
.footer p a:hover {
  color: #d27c2c;
  transition: 0.2s solor ease-in-out;
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 100%;
  border-top: 1px solid #27496D;
  gap: 2rem;
  margin: 0;
}
.footer__top {
  font-family: "Satoshi", sans-serif;
  position: relative;
}
.footer__top p {
  width: 100%;
}
.footer__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.footer__logo {
  width: 22px;
}
.footer__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 2rem;
}

@media screen and (width > 667px) {
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: rgba(39, 73, 109, 0.9);
  }
  .header__logo {
    margin-left: 2rem;
  }
  .header__menuBurger {
    z-index: 3000000;
  }
  .header__menu {
    width: 9vw;
    height: 100%;
  }
  .header__menu.visible {
    width: 30%;
  }
  .header__navbar {
    justify-content: space-between;
    margin: 1rem 5rem;
    font-family: "Poppins", sans-serif;
  }
  .equipe__fig {
    flex-basis: 30%;
  }
  .equipe__membres {
    display: flex;
    gap: 5rem;
  }
  .realisations__projet {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  .realisations__libelle {
    flex-basis: 50%;
    text-align: center;
    padding: 2rem 1rem;
    background-color: none;
    border: 3px #27496D solid;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .realisations__content {
    max-width: 100%;
    font-size: clamp(13px, 1.5vw, 18px);
  }
  .realisations__img {
    flex-basis: 50%;
    border-radius: 0;
    position: relative;
    width: 45%;
    height: inherit;
    object-fit: cover;
  }
  .footer {
    font-size: clamp(12px, 1vw, 20px);
  }
  .contact {
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw;
  }
  .contact__speech {
    display: block;
  }
  .services {
    padding: 3.5rem 2rem;
  }
  .services__service {
    padding: 0 7rem;
  }
  .presentation .about {
    flex-direction: row;
    gap: 60px;
    text-align: left;
    display: flex;
    align-items: stretch;
  }
  .presentation .about .infos {
    flex-basis: 60%;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 5rem 2.1rem;
    border-radius: 20px;
  }
  .presentation .about .stats {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    height: inherit;
    border-radius: 20px;
  }
  .presentation .about .stats__div {
    border: 0;
  }
  .presentation {
    padding: 0 5rem;
  }
  .presentation .about {
    padding-top: 10vh;
  }
  .presentation .about .infos {
    padding: 5rem;
  }
  .presentation .values {
    flex-direction: row;
  }
  .presentation .values__title {
    text-align: left;
    margin: 0;
    padding-left: 5rem;
  }
  .presentation .values__item {
    max-width: 60vw;
  }
}
@media screen and (width > 1200px) {
  .header__navbar {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__logo {
    width: clamp(18px, 3.8vw, 60px);
    position: relative;
    top: 0;
    left: 0;
    margin-left: 3rem;
    transform: translateX(-50%);
    z-index: 30;
  }
  .header__arrow {
    display: flex;
    cursor: pointer;
  }
  .header__menu {
    width: 100%;
    background-color: rgba(39, 73, 109, 0);
    top: -20%;
    position: fixed;
    left: 0;
    height: fit-content;
    transition: top 0.2s ease-out, opacity 0.2s ease-out;
  }
  .header__menu.visible {
    width: 100%;
    transition: opacity 0.2s ease-out, top 0.2s ease-out;
  }
  .header__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .equipe__fig {
    flex-basis: 18%;
  }
  .services {
    padding: 3vh 8vh;
    border-radius: 20px;
  }
  .services__image {
    display: block;
    width: 40vw;
    object-fit: cover;
    height: 40vh;
  }
  .services .swiper,
  .services .swiper_container {
    background-color: white;
  }
  .services__service {
    background-color: white;
    height: inherit;
    height: 55vh;
  }
  .services__serviceTitle {
    flex-direction: row;
  }
  .services__serviceTitle h3 {
    text-align: left;
  }
  .realisations__projet {
    display: flex;
    align-items: stretch;
  }
  .realisations__name {
    font-size: 1.5vw;
    color: white;
    text-align: left;
  }
  .realisations__libelle {
    text-align: left;
    overflow: auto;
    color: white;
    background-color: #27496D;
    width: 100%;
  }
  .realisations__content {
    font-size: clamp(17px, 1.1vw, 20px);
  }
  .footer__bottom {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0rem 5rem;
  }
  .footer__top {
    padding-left: 5rem;
    width: 40%;
    margin-bottom: 5rem;
  }
}