.equipe__fig {
    /* Autres styles... */
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0), 0 1px 3px rgba(0, 0, 0, 0);

    &:hover {
        transform: scale(1.05);

        /* Agrandir légèrement la carte au survol */
        .membre {
            top: -5vh;
            border-radius: 10px;
        }

        .membre__infos {
            transform: translateY(0);
            /* Faire apparaître les informations au survol */
        }

        figcaption.membre {
            transform: translateY(0);
            /* Faire apparaître la figcaption au survol */
        }
    }

    .membre {
        position: relative;
        top: 10vh;
        background-color: $marble;
    }

    .membre__infos,
    figcaption.membre {
        transform: translateY(100%);
        /* Cacher les informations initialement */
        transition: transform 0.5s ease-in-out;
        /* Ajouter une transition pour faire apparaître les informations en douceur */
    }
}

.equipe {
    // background-color: $marble;
    padding: 1vh 5vw;
    border-radius: 5px;
    // box-shadow: $blueberry 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, $bleuocean 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, $blueberry 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, $bleu 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, $blueberry 40px -40px;

    &__title {
        // padding: 7vh 1vw;
        // text-transform: uppercase;
        // font-weight: 600;
        // text-align: center;
        // font-size: clamp(30px, 1.8vw, 33px);
        // width: -moz-fit-content;
        // width: fit-content;
        // margin: 0 auto;
        // margin-bottom: 5vh;
        // font-family: "David Libre";
        @include titre();
        // color: $bleu;
    }
}