.equipe__fig {

    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0), 0 1px 3px rgba(0, 0, 0, 0);

    &:hover {
        transform: scale(1.05);

        /* Agrandir légèrement la carte au survol */
        .membre {
            top: -5vh;
            border-radius: 10px;
        }

        .membre__infos {
            transform: translateY(0);
            /* Faire apparaître les informations au survol */
        }

        figcaption.membre {
            transform: translateY(0);
            /* Faire apparaître la figcaption au survol */
        }
    }

    .membre {
        position: relative;
        top: 10vh;
        background-color: $marble;
    }

    .membre__infos,
    figcaption.membre {
        transform: translateY(100%);
        transition: transform 0.5s ease-in-out;
    }
}
