.header {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80vh;
    overflow: hidden;
    background-color: rgba(39, 73, 109, 0.9);

    .particule {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__arrow {
        display: none;
        width: 7vh;
        height: 7vh;
        justify-content: center;
        background-color: #053F5E;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 2vh;
        cursor: pointer;
        position: absolute;
        bottom: 1vh;
        left: 48%;
        transform: translateX(50%);
        background-color: #27496D;
        animation: levitate 2s infinite ease-in-out;
    }

    &__navbar {
        display: flex;
        position: relative;
        margin: 0 2rem;
        
    }

    .menu {
        opacity: 0;
        background-color: rgb(39, 73, 109);
        position: absolute;
        left: -50%;
        min-height: 80vh;
        // padding: 4.5vh 0;
        width: 100%;
        display: flex;
        align-items: center;
        z-index: -1;
        transition:
            left 0.3s ease-out,
            opacity 0.2s ease-out;

        &.visible {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            background-color: rgba(39, 73, 109, 0.1);
            opacity: 1;
            transition:
                opacity 0.3s ease-out,
                left 0.2s ease-out,
                background-color .3s ease-in;
        }
        

        &.scrolled {
            background-color: rgb(39, 73, 109);
            box-shadow: rgba(0, 0, 0, 0.40) 1.95px 1.95px 2.6px;
            transition: background-color .3s ease-in;
        }


        &__list {
            position: absolute;
            z-index: -1;
            display: flex;
            flex-direction: column;
            width: 100%;

            a {
                color: $blanc;
                font-family: 'Poppins';

            }

            .active {
                color: $orange
            }

        }

        &__item {
            position: relative;
            padding: 3rem 0 3rem 2rem;
            
            font-size: clamp(15px, 2.5vh, 50px);
            border-top : 1px $marble solid;
            border-bottom : 1px $marble solid;
            width: 100%;
            &::after {
                content: "";
                display: block;
                background-color: $orange;
                height: 2px;
                width: 0;
                border-radius: 10px;
                margin-top: 3px;
                transition: width 0.3s ease-out;
                transform: translateX(-50%);
                position: relative;
                left: 50%;
            }

            &:hover {
                cursor: pointer;

                &::after {
                    width: 100%;
                    transition: width 0.3 ease-out;
                }
            }
        }
    }


    &__logo {
        width: clamp(20px, 20vw, 100px);
        position: absolute;
        left:50%;
        top:20%;
        transform: translateX(-50%);
        display: none;
    }

    &__menuBurger {
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        justify-content: center;
        z-index: 3000;
        padding: 1rem 0rem;
        border-radius: 50%;
        transition: all 0.2s ease-out;
        width:3.5rem;
        &:hover {
            border: 4px $orange;
            transition: transform 0.2s ease-out,
                border 0.3 ease-out;
        }

        .bar {
            width: 100%;
            background: $nacre;
            height: 3.2px;
            transition: all 0.3s ease-in;
        }

        &.open {
            border: none;
            transform: rotate(180deg);

            #bar1 {
                background-color: $blanc;
                transform: rotate(45deg) translate(6px, 5px);
            }

            #bar3 {
                background-color: $blanc;
                transform: rotate(-45deg) translate(6px, -5px);
            }

            #bar2 {
                background-color: transparent;
            }
        }
    }

    &__nomAgence,
    &__slogan {
        position: absolute;
        left: 50%;
        padding: 0 0.2rem;
        transform: translate(-50%, 50%);
        font-family: "Stick No Bills", sans-serif;
        text-align: center;
        bottom: 48%;
        color: $blanc;
        width: 100%;
    }

    &__slogan {
        font-size: clamp(17px, 1.4vw, 25px);
        bottom: 35vh;
    }

    &__nomAgence {
        font-family: "David Libre";
        text-transform: uppercase;
        font-size: clamp(40px, 6vw, 80px);
        color: $blanc;
        bottom: 40vh;
    }

}

#tsparticles {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // // background: #000;
    position: absolute;
}