.header {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: rgba(39, 73, 109, 0.9);

    &__arrow {
        display: none;
        width: 7vh;
        height: 7vh;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(88, 96, 133, 0.5);
        margin-bottom: 2vh;
        cursor: pointer;
        position: absolute;
        bottom: 1vh;
        left: 50%;
        animation: levitate 2s infinite alternate ease-in-out;
    }

    &__menu {
        opacity: 0;
        background-color: rgb(39, 73, 109);
        position: absolute;
        left: -50%;
        height: 80vh;
        padding: 4.5vh 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15vw;

        z-index: -1;
        transition:
            left 0.3s ease-out,
            opacity 0.2s ease-out;

        &.visible {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            background-color: rgba(39, 73, 109, 0.9);
            opacity: 1;
            transition:
                opacity 0.2s ease-out,
                left 0.3s ease-out;
        }


        &-list {
            position: absolute;
            z-index: -1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10rem;

            a {
                color: $blanc;
                font-size: 2.2vh;
                font-family: 'Poppins';

            }

            .active::after {
                content: "";
                display: block;
                background-color: $orange;
                height: 2px;
                width: 0;
                border-radius: 10px;
                margin-top: 3px;
                transition: width 0.3s ease-out;
                transform: translateX(-50%);
                position: relative;
                left: 50%;
            }

            li {
                position: relative;
            }

            li::after {
                content: "";
                display: block;
                background-color: $orange;
                height: 2px;
                width: 0;
                border-radius: 10px;
                margin-top: 3px;
                transition: width 0.3s ease-out;
                transform: translateX(-50%);
                position: relative;
                left: 50%;
            }

            li:hover {
                cursor: pointer;

                &::after {
                    width: 100%;
                    transition: width 0.3 ease-out;
                }
            }
        }
    }


    &__logo {
        margin: 0;
        width: 14vh;
        position: absolute;
        top: 5vh;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

    }

    &__menuBurger {
        position: relative;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.2vw;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        z-index: 3000;
        padding: 1rem 1rem;
        margin-right: 1%;
        border-radius: 50%;
        transition: all 0.2s ease-out;

        &:hover {
            transform: rotate(25deg);
            border: 4px $orange;
            // border: 4px rgba(210,124,44,0.6) solid;
            //  TODO
            transition: transform 0.2s ease-out,
                border 0.3 ease-out;
        }

        .bar {
            font-size: 10px;
            background: $blanc;
            width: 4vh;
            height: 6px;
            transition: all 0.3s ease-in;
        }

        &.open {
            border: none;
            transform: rotate(180deg);

            #bar1 {
                background-color: $blanc;
                transform: rotate(45deg) translate(6px, 5px);
            }

            #bar3 {
                background-color: $blanc;
                transform: rotate(-45deg) translate(6px, -5px);
            }

            #bar2 {
                background-color: transparent;
            }
        }
    }

    &__nomAgence,
    &__slogan {
        position: absolute;
        bottom: 60%;
        left: 50%;
        transform: translate(-50%, 50%);
        font-family: "Stick No Bills";
        font-size: 1.8vh;
        text-align: center;
        bottom: 48%;
        color: $blanc;
        width: 100%;
    }

    &__nomAgence {
        font-family: "David Libre";
        text-transform: uppercase;
        font-size: 4.2vh;
        color: $blanc;
        bottom: 55%;
    }

}

#tsparticles {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // // background: #000;
    position: absolute;
}