@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    &__logo {
      margin-top: 20%;
    }

    &__nomAgence {
      padding-top: 15%;
    }

    &__slogan {
      padding-top: 15%;
    }
  }
}

.about {
  padding: 15% 0 15% 0;

  &__title {
    margin-bottom: 5%;
  }

  p {
    font-size: 2.5vw;
    margin: 0 5% 0 5%;

  }

  &__content--justify {
    text-align: justify;
    margin-top: 5%;
  }
}

.equipe {
  &__membres {
    padding-top: 5%;
  }
}

.membre {

  &__nom,
  &__filiere {
    color: white;
  }
}

.services {
  margin-bottom: 13%;

  &__content {
    font-size: 2vw;
    justify-content: center;
    width: 80%;
  }

  &__icone {
    margin-left: 15%;
  }
}