$bleu: #27496D;
$bleuocean: #053F5E;
$blueberry: #01254C;
$blanc: #FFFF;
$orange: #d27c2c;
$marble: #F2F8FC;
$nacre:#EFEBEB;
$black:#141414;

@font-face {
  font-family: 'Satoshi';
  src: url('../assets/fonts/Satoshi-Regular.woff') format(woff),
       url('../assets/fonts/Satoshi-Regular.woff2') format(woff2)
        ;
}
 
@keyframes levitate {
    0% {
      transform: translateY(0); /* Position initiale */
    }
    50% {
      transform: translateY(-10px); /* Position de lévitation */
    }
    100% {
      transform: translateY(0); /* Retour à la position initiale */
    }
  }

  @keyframes changeColor {
    0% {
      background-color: $bleuocean; 
    }
    50% {
      transform: $bleu; 
    }
    100% {
      background-color: $blueberry; /* Retour à la position initiale */
    }
  }

  @mixin titre{
    font-family: "David Libre" sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: clamp(30px, 1.8vw, 33px);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5vh;

    &::after {
        content: "";
        display: block;
        width: 70%;
        margin: 0 auto;
        height: 1px;
        margin-top: 4%;
        background-color: #0e0c0c;
      
    }
  }

  @mixin sous-titre{
    font-family: "David Libre" sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: clamp(25px, 1.7vw, 40px);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5vh;
  }

  @mixin font-accordion($e){
    @if($e =='title'){
      font-family: "David Libre" sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      font-size: clamp(13px, 1.1vw, 30px);
    }
    @else{
      font-family: "Poppins" sans-serif;
      font-size: clamp(13px, 1.1vw, 20px);
    }
  }